ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}


ul.header-list {
	float: right;
}











footer {
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	position: absolute;
	background-color: DarkGrey;
}

ul.footer-list {
	float: right;
	display: inline;
}