ul.header-list li {
	list-style: none;
	float: right;
	display: inline;
}

footer {
	height: 100px;
	width: 100%;
	position: absolute;
	background-color: DarkGrey;
}

ul.footer-list li {
	list-style: none;
	float: right;
	display: inline;
}